{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "chrome>38, firefox>56",
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
